@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(98, 0, 155);
    --primary-light: rgb(240, 209, 255);
    --light: rgb(247, 247, 247);
    --box-shadow: #0003;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    font: inherit;
}

body {
    margin: auto;
    font-size: 18px;
    line-height: 1.8rem;
}

h1 {
    margin: 24px 0px;
    line-height: 4rem;
}

h2 {
    margin: 18px 0px;
}

main {
    margin: 20px 0px;
    background-color: var(--light);
    padding: 0px 80px;
}

section {
    margin: 20px 0px;
}

p {
    margin: 20px 0px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: var(--primary);
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 60px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
}

.nav-bar-items,
.footer-bar-items {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-bar-items a {
    color: var(--primary);
}

.footer-bar-items a {
    color: white;
}

.topic-block {
    margin: 20px 10px;
    display: block;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--primary-light);
    box-shadow: 0 4px 10px var(--box-shadow);
}

.topic-block2 {
    margin: 20px 10px;
    display: block;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--light);
    box-shadow: 0 4px 10px var(--box-shadow);
}

.small-block {
    margin: 10px;
    display: inline-block;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: var(--light);
    box-shadow: 0 4px 10px var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.small-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.half-card {
    max-width: 50%;
}

/* .skills {
    display: flex;
    justify-content: space-evenly;
} */



.font {
    font-family: 'Gloria Hallelujah', cursive;
}


/* responsive style */
/* change font size, padding, margin, height, alignment, width here */

@media (max-width: 1200px) {
    body {
        color: rgb(175, 30, 30);
    }
}

@media (max-width: 768px) {
    body {
        color: rgb(0, 102, 102);
    }
}

@media (max-width: 480px) {
    body {
        color: rgb(144, 0, 255);
    }
}